In [89]:
import pandas as pd
import numpy as np
from datetime import datetime

# Load the dataset (replace filename with your actual file name if different)
# Load dataset into a DataFrame
car_df = pd.read_csv('train.csv')
car_df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [90]:
print("Initial dataset preview:")
print(car_df.head())

Initial dataset preview:
   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Fuel_Type Transmission Owner_Type     Mileage   Engine  \
0              41000    Diesel       Manual      First  19.67 kmpl  1582 CC
1              46000    Petrol       Manual      First    13 km/kg  1199 CC
2              87000    Diesel       Manual      First  20.77 kmpl  1248 CC
3              40670    Diesel    Automatic     Second   15.2 kmpl  1968 CC
4              86999    Diesel       Manual      First  23.08 kmpl  1461 CC

       Power  Seats  New_Price  Price
0  126.2 bhp    5.0        NaN  12.50
1   88.7 bhp    5.0  8.61 Lakh   4.50
2  88.76 bhp    7.0        NaN   6.00
3  140.8 bhp    5.0        NaN  17.74
4   63.1 bhp    5.0        NaN   3.50

**Finding Missing values **

In [91]:
print("\nSummary of missing values initially:")
print(car_df.isnull().sum())

Summary of missing values initially:
Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

**# Handling missing values clearly based on data type**

In [92]:
for col in car_df.columns:
    missing_count = car_df[col].isna().sum()
    if missing_count > 0:
        if car_df[col].dtype == 'object':
            common_value = car_df[col].mode()[0]
            car_df[col] = car_df[col].fillna(common_value)  # corrected line
            print(f"Filled '{col}' with mode: {common_value}")
        else:
            avg_value = car_df[col].mean()
            car_df[col] = car_df[col].fillna(avg_value)  # corrected line
            print(f"Filled '{col}' with mean: {avg_value:.2f}")

Filled 'Mileage' with mode: 18.9 kmpl
Filled 'Engine' with mode: 1197 CC
Filled 'Power' with mode: 74 bhp
Filled 'Seats' with mean: 5.29
Filled 'New_Price' with mode: 4.78 Lakh

**# Confirming missing values are addressed**

In [93]:
print("\nMissing values after filling:")
print(car_df.isnull().sum())

Missing values after filling:
Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
New_Price            0
Price                0
dtype: int64

# Removing textual units to keep numerical values **only**

In [94]:
# Clearly convert columns to string before removing textual units
car_df['Mileage'] = pd.to_numeric(car_df['Mileage'].astype(str)
                                  .str.replace(' kmpl', '', regex=False)
                                  .str.replace(' km/kg', '', regex=False),
                                  errors='coerce')

car_df['Engine'] = pd.to_numeric(car_df['Engine'].astype(str)
                                 .str.replace(' CC', '', regex=False),
                                 errors='coerce')

car_df['Power'] = pd.to_numeric(car_df['Power'].astype(str)
                                .str.replace(' bhp', '', regex=False),
                                errors='coerce')

car_df['New_Price'] = pd.to_numeric(car_df['New_Price'].astype(str)
                                    .str.replace(' lakh', '', regex=False),
                                    errors='coerce')

In [95]:
# Check clearly if the changes applied successfully
print("\nMileage after removal:", car_df['Mileage'].head())
print("\nEngine after removal:", car_df['Engine'].head())
print("\nPower after removal:", car_df['Power'].head())
print("\nNew Price after removal:", car_df['New_Price'].head())

Mileage after removal: 0    19.67
1    13.00
2    20.77
3    15.20
4    23.08
Name: Mileage, dtype: float64

Engine after removal: 0    1582
1    1199
2    1248
3    1968
4    1461
Name: Engine, dtype: int64

Power after removal: 0    126.20
1     88.70
2     88.76
3    140.80
4     63.10
Name: Power, dtype: float64

New Price after removal: 0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: New_Price, dtype: float64

In [96]:
print("Fuel_Type unique values:", car_df['Fuel_Type'].unique())
print("Transmission unique values:", car_df['Transmission'].unique())

Fuel_Type unique values: ['Diesel' 'Petrol' 'Electric']
Transmission unique values: ['Manual' 'Automatic']

Creating a new useful feature - Age of the car

In [97]:
print(car_df.columns.tolist())

['Unnamed: 0', 'Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats', 'New_Price', 'Price']

## Converting categorical columns into numerical binary form *clearly*

In [100]:

car_df['Fuel_Type'] = car_df['Fuel_Type'].astype(str).str.strip().str.title()
car_df['Transmission'] = car_df['Transmission'].astype(str).str.strip().str.title()

print(car_df[['Fuel_Type', 'Transmission']].head())

  Fuel_Type Transmission
0    Diesel       Manual
1    Petrol       Manual
2    Diesel       Manual
3    Diesel    Automatic
4    Diesel       Manual


Create a new feature 'Car_Age' by subtracting 'Year' from the current year

In [101]:
# Get the current year
current_year = datetime.now().year

# Create a new 'Car_Age' column based on 'Year'
car_df['Car_Age'] = current_year - car_df['Year']

# Save the updated dataset to a new CSV file
car_df.to_csv("task_d_car_age_column.csv", index=False)

# Check if the 'Car_Age' column was added successfully
print("Columns after adding 'Car_Age' column:")
print(car_df.columns)

# Display the first few rows to confirm the new column
print("\nFirst few rows with the 'Car_Age' column:")
print(car_df[['Year', 'Car_Age']].head())

Columns after adding 'Car_Age' column:
Index(['Unnamed: 0', 'Name', 'Location', 'Year', 'Kilometers_Driven',
       'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power',
       'Seats', 'New_Price', 'Price', 'Car_Age'],
      dtype='object')

First few rows with the 'Car_Age' column:
   Year  Car_Age
0  2015       10
1  2011       14
2  2012       13
3  2013       12
4  2013       12

In [102]:

original_df = pd.read_csv('train.csv')

In [103]:
# Restore original 'Fuel_Type' into your processed dataframe
car_df['FuelType'] = original_df['Fuel_Type']


car_df['FuelType'] = car_df['FuelType'].astype(str).str.strip().str.title()

In [104]:

selected_columns = car_df[['Name', 'Year', 'FuelType', 'Price']]


print("\nSelected rows with correct FuelType values:")
print(selected_columns.head())

# Save to new CSV
selected_columns.to_csv("task_e_selected_columns.csv", index=False)

Selected rows with correct FuelType values:
                               Name  Year FuelType  Price
0  Hyundai Creta 1.6 CRDi SX Option  2015   Diesel  12.50
1                      Honda Jazz V  2011   Petrol   4.50
2                 Maruti Ertiga VDI  2012   Diesel   6.00
3   Audi A4 New 2.0 TDI Multitronic  2013   Diesel  17.74
4            Nissan Micra Diesel XV  2013   Diesel   3.50

In [105]:
# I don't need numeric versions, so I'm removing them from the dataset
car_df.drop(columns=['Fuel_Type_Numeric', 'Transmission_Numeric'], inplace=True, errors='ignore')


print("\nRemaining columns after dropping numeric ones:")
print(car_df.columns)

Remaining columns after dropping numeric ones:
Index(['Unnamed: 0', 'Name', 'Location', 'Year', 'Kilometers_Driven',
       'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power',
       'Seats', 'New_Price', 'Price', 'Car_Age', 'FuelType'],
      dtype='object')

In [124]:
# I'm selecting cars that are older than 5 years and also cost more than 5 lakhs
filtered_cars = car_df[(car_df['Car_Age'] > 5) & (car_df['Price'] > 5)]

# Just printing the top few cars that match the filter condition
print("\nCars older than 5 years and priced above 5 lakhs:")
print(filtered_cars.head())

# Saving these filtered results into a new CSV for further analysis
filtered_cars.to_csv("task_e_filtered_cars.csv", index=False)

Cars older than 5 years and priced above 5 lakhs:
   Unnamed: 0                                 Name    Location  Year  \
0           1     Hyundai Creta 1.6 CRDi SX Option        Pune  2015
2           3                    Maruti Ertiga VDI     Chennai  2012
3           4      Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
5           7    Toyota Innova Crysta 2.8 GX AT 8S      Mumbai  2016
6           8  Volkswagen Vento Diesel Comfortline        Pune  2013

   Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine  \
0              41000    Diesel       Manual      First    19.67    1582
2              87000    Diesel       Manual      First    20.77    1248
3              40670    Diesel    Automatic     Second    15.20    1968
5              36000    Diesel    Automatic      First    11.36    2755
6              64430    Diesel       Manual      First    20.54    1598

    Power  Seats  New_Price  Price  Car_Age FuelType  Price_per_Km  \
0  126.20    5.0        NaN  12.50       10   Diesel      0.000305
2   88.76    7.0        NaN   6.00       13   Diesel      0.000069
3  140.80    5.0        NaN  17.74       12   Diesel      0.000436
5  171.50    8.0        NaN  17.50        9   Diesel      0.000486
6  103.60    5.0        NaN   5.20       12   Diesel      0.000081

  TransmissionType
0           Manual
2           Manual
3        Automatic
5        Automatic
6           Manual

In [107]:
# I'm creating a new column to calculate price per kilometer driven
car_df['Price_per_Km'] = car_df['Price'] / car_df['Kilometers_Driven']

# Just showing a few rows to check if the new column looks correct
print("\nPrice per kilometer (Top rows):")
print(car_df[['Name', 'Price', 'Kilometers_Driven', 'Price_per_Km']].head())

# Saving this subset to a new CSV so I can refer to it later if needed
car_df[['Name', 'Price', 'Kilometers_Driven', 'Price_per_Km']].to_csv("task_e_mutate_price_per_km.csv", index=False)

Price per kilometer (Top rows):
                               Name  Price  Kilometers_Driven  Price_per_Km
0  Hyundai Creta 1.6 CRDi SX Option  12.50              41000      0.000305
1                      Honda Jazz V   4.50              46000      0.000098
2                 Maruti Ertiga VDI   6.00              87000      0.000069
3   Audi A4 New 2.0 TDI Multitronic  17.74              40670      0.000436
4            Nissan Micra Diesel XV   3.50              86999      0.000040

In [108]:
# I'm sorting the cars by their selling price from highest to lowest
car_df_sorted = car_df.sort_values(by='Price', ascending=False)

# Just printing the top 5 most expensive cars to check if sorting worked
print("\nTop 5 cars sorted by price (highest first):")
print(car_df_sorted[['Name', 'Price']].head())

# Saving the sorted result to a new CSV for future use
car_df_sorted[['Name', 'Price']].to_csv("task_e_sorted_by_price.csv", index=False)

Top 5 cars sorted by price (highest first):
                                             Name   Price
3952  Land Rover Range Rover 3.0 Diesel LWB Vogue  160.00
5620                   Lamborghini Gallardo Coupe  120.00
5752                       Jaguar F Type 5.0 V8 S  100.00
1457              Land Rover Range Rover Sport SE   97.07
1917                           BMW 7 Series 740Li   93.67

In [109]:
# I'm grouping the cars based on their fuel type to calculate the average selling price for each type
fuel_group_summary = car_df.groupby('FuelType')['Price'].mean().reset_index()

# Just printing the average price for each fuel type to check the result
print("\nAverage price of cars grouped by fuel type:")
print(fuel_group_summary)

# Saving the summary into a separate CSV file for reference
fuel_group_summary.to_csv("task_e_groupby_fuel_summary.csv", index=False)

Average price of cars grouped by fuel type:
   FuelType      Price
0    Diesel  12.960686
1  Electric  12.875000
2    Petrol   5.756688

In [111]:
# I'm grouping the cars based on both fuel type and transmission type
# to calculate the average price for each combination
fuel_trans_group_summary = car_df.groupby(['Fuel_Type', 'Transmission'])['Price'].mean().reset_index()

# Just printing the results to check if the average prices look good
print("\nAverage price of cars grouped by fuel type and transmission type:")
print(fuel_trans_group_summary)

# Saving this grouped summary to a separate CSV for documentation
fuel_trans_group_summary.to_csv("task_e_groupby_fuel_trans_summary.csv", index=False)

Average price of cars grouped by fuel type and transmission type:
  Fuel_Type Transmission      Price
0    Diesel    Automatic  24.618490
1    Diesel       Manual   6.686462
2  Electric    Automatic  12.875000
3    Petrol    Automatic  11.252450
4    Petrol       Manual   4.160803

In [113]:
print("\nMissing value count in key columns:")
print(car_df[['Fuel_Type', 'Transmission', 'Price']].isna().sum())

Missing value count in key columns:
Fuel_Type       0
Transmission    0
Price           0
dtype: int64

In [115]:
# I'm removing any rows where FuelType, TransmissionType, or Price is missing
car_df_clean = car_df.dropna(subset=['Fuel_Type', 'Transmission', 'Price'])

In [116]:
# I'm grouping the data based on both fuel type and transmission type
# to calculate the average price for each unique combination
fuel_trans_group_summary = car_df.groupby(['Fuel_Type', 'Transmission'])['Price'].mean().reset_index()

# Displaying the result so I can verify the averages are calculated correctly
print("\nAverage price grouped by fuel type and transmission type:")
print(fuel_trans_group_summary)

# Saving this grouped summary into a separate CSV file for later use or reporting
fuel_trans_group_summary.to_csv("task_e_groupby_fuel_trans_summary.csv", index=False)

Average price grouped by fuel type and transmission type:
  Fuel_Type Transmission      Price
0    Diesel    Automatic  24.618490
1    Diesel       Manual   6.686462
2  Electric    Automatic  12.875000
3    Petrol    Automatic  11.252450
4    Petrol       Manual   4.160803

In [118]:
print("Unique FuelType values:", car_df['Fuel_Type'].unique())
print("Unique TransmissionType values:", car_df['Transmission'].unique())

Unique FuelType values: ['Diesel' 'Petrol' 'Electric']
Unique TransmissionType values: ['Manual' 'Automatic']

In [120]:
# Clean both columns - remove extra spaces and fix capitalization
car_df['FuelType'] = car_df['Fuel_Type'].astype(str).str.strip().str.title()
car_df['TransmissionType'] = car_df['Transmission'].astype(str).str.strip().str.title()

In [121]:
# Drop rows where any of the key columns are missing
car_df_cleaned = car_df.dropna(subset=['Fuel_Type', 'Transmission', 'Price'])

In [122]:
# Grouping by both fuel type and transmission type to calculate average price
fuel_trans_group_summary = car_df_cleaned.groupby(['FuelType', 'TransmissionType'])['Price'].mean().reset_index()

# Displaying the results
print("\nAverage price grouped by fuel type and transmission type:")
print(fuel_trans_group_summary)

# Saving the result to a CSV file
fuel_trans_group_summary.to_csv("task_e_groupby_fuel_trans_summary.csv", index=False)

Average price grouped by fuel type and transmission type:
   FuelType TransmissionType      Price
0    Diesel        Automatic  24.618490
1    Diesel           Manual   6.686462
2  Electric        Automatic  12.875000
3    Petrol        Automatic  11.252450
4    Petrol           Manual   4.160803

In [134]:
from google.colab import files

# Download the full grouped CSV file
files.download("task_e_groupby_fuel_trans_summary.csv")